.envrc
.flags
bin/cloud_sql_proxy
benchmark-*.csv
benchmark-*.csv.bak.*
check-r.RData
check-*.csv
check-*.csv.bak.*
doc/*.RData
doc/*.csv
example-data
.Rproj.user
.Rhistory
*.nb.html
*.tar.gz
*.svg
*.png
.DS_Store
